flow node red final.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":330,"y":60,"wires":[]},{"id":"78fca1b1985efc70","type":"mqtt in","z":"f6f2187d.f17ca8","name":"E100","topic":"AM107/by-room/E100/data","qos":"0","datatype":"auto-detect","broker":"656586b38fb8e20d","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":720,"wires":[["bc542f55f2f0318d","024464c0e59b26a5","dfe593b81dd738b9"]]},{"id":"bc542f55f2f0318d","type":"debug","z":"f6f2187d.f17ca8","name":"temp","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":760,"wires":[]},{"id":"7d15891d97a51363","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"0576bbaed2d67203","order":0,"width":0,"height":0,"gtype":"gage","title":"Température E100","label":"°C","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"25","diff":false,"className":"","x":1170,"y":820,"wires":[]},{"id":"0583d7a859c8108a","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"d64478bc613b61a3","name":"temperature","measurement":"temperature,building=RT,room=E100","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1210,"y":680,"wires":[]},{"id":"024464c0e59b26a5","type":"change","z":"f6f2187d.f17ca8","name":"change mqtt en char","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload[0].temperature)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":680,"wires":[["0583d7a859c8108a"]]},{"id":"42e95ee80fe7457b","type":"mqtt in","z":"f6f2187d.f17ca8","name":"B101","topic":"AM107/by-room/B101/data","qos":"0","datatype":"auto-detect","broker":"656586b38fb8e20d","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":240,"wires":[["d06856d6800b5022","3ecac778a3502d14","c8e46d312779234a"]]},{"id":"d06856d6800b5022","type":"debug","z":"f6f2187d.f17ca8","name":"temp","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":280,"wires":[]},{"id":"841f7e98ac22c9e3","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"b457bc55eb842bbf","order":0,"width":0,"height":0,"gtype":"gage","title":"Température B101","label":"°C","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"25","diff":false,"className":"","x":550,"y":340,"wires":[]},{"id":"f2a33297c8736290","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"d64478bc613b61a3","name":"temperature","measurement":"temperature,building=INFO,room=B101","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":590,"y":200,"wires":[]},{"id":"3ecac778a3502d14","type":"change","z":"f6f2187d.f17ca8","name":"change mqtt en char","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload[0].temperature)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":200,"wires":[["f2a33297c8736290"]]},{"id":"407f56581782b310","type":"mqtt in","z":"f6f2187d.f17ca8","name":"E105","topic":"AM107/by-room/E105/data","qos":"0","datatype":"auto-detect","broker":"656586b38fb8e20d","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":420,"wires":[["f25619babd2a6477","c351c07c49585b40","3845fa7d2fcfffd7"]]},{"id":"f25619babd2a6477","type":"debug","z":"f6f2187d.f17ca8","name":"lum","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":460,"wires":[]},{"id":"34ee9f2ab9778b0c","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"cb08729f710e79a9","order":0,"width":0,"height":0,"gtype":"gage","title":"Luminosité E105","label":"lumens","format":"{{value}}","min":0,"max":"250","colors":["#f9f06b","#f6d32d","#e5a50a"],"seg1":"80","seg2":"170","diff":false,"className":"","x":1170,"y":520,"wires":[]},{"id":"c3ef64a4bfdfcdcb","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"d64478bc613b61a3","name":"luminosite","measurement":"illumination,building=RT,room=E105","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1200,"y":380,"wires":[]},{"id":"c351c07c49585b40","type":"change","z":"f6f2187d.f17ca8","name":"change mqtt en char","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload[0].illumination)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":380,"wires":[["c3ef64a4bfdfcdcb"]]},{"id":"1123eb96cda85d7a","type":"mqtt in","z":"f6f2187d.f17ca8","name":"B106","topic":"AM107/by-room/B106/data","qos":"0","datatype":"auto-detect","broker":"656586b38fb8e20d","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":720,"wires":[["fa1aa03bcf14eece","aed5f05734c2b194","3a0e90167c7ea3f9"]]},{"id":"fa1aa03bcf14eece","type":"debug","z":"f6f2187d.f17ca8","name":"lum","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":760,"wires":[]},{"id":"2893fbf968b3c4c7","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"21fd32b85d637305","order":0,"width":0,"height":0,"gtype":"gage","title":"Luminosité B106","label":"lumens","format":"{{value}}","min":0,"max":"250","colors":["#f9f06b","#f6d32d","#e5a50a"],"seg1":"80","seg2":"170","diff":false,"className":"","x":550,"y":820,"wires":[]},{"id":"887ba430fb0d4613","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"d64478bc613b61a3","name":"luminosite","measurement":"illumination,building=INFO,room=B106","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":580,"y":680,"wires":[]},{"id":"aed5f05734c2b194","type":"change","z":"f6f2187d.f17ca8","name":"change mqtt en char","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload[0].illumination)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":680,"wires":[["887ba430fb0d4613"]]},{"id":"dfe593b81dd738b9","type":"function","z":"f6f2187d.f17ca8","name":"Température","func":"msg.payload = msg.payload[0].temperature;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":820,"wires":[["7d15891d97a51363"]]},{"id":"3a0e90167c7ea3f9","type":"function","z":"f6f2187d.f17ca8","name":"illumination","func":"msg.payload = msg.payload[0].illumination;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":820,"wires":[["2893fbf968b3c4c7"]]},{"id":"c8e46d312779234a","type":"function","z":"f6f2187d.f17ca8","name":"Température","func":"msg.payload = msg.payload[0].temperature;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":340,"wires":[["841f7e98ac22c9e3"]]},{"id":"3845fa7d2fcfffd7","type":"function","z":"f6f2187d.f17ca8","name":"illumination","func":"msg.payload = msg.payload[0].illumination;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":520,"wires":[["34ee9f2ab9778b0c"]]},{"id":"91096c6699309399","type":"mqtt in","z":"f6f2187d.f17ca8","name":"E105","topic":"AM107/by-room/E105/data","qos":"0","datatype":"auto-detect","broker":"656586b38fb8e20d","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":220,"wires":[["834bf519dd8b7e10","3af9815d65e66174","4acb756a377dffbc"]]},{"id":"834bf519dd8b7e10","type":"debug","z":"f6f2187d.f17ca8","name":"temp","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":260,"wires":[]},{"id":"b793811344d596bf","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"0576bbaed2d67203","order":0,"width":0,"height":0,"gtype":"gage","title":"Température E105","label":"°C","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"25","diff":false,"className":"","x":1170,"y":320,"wires":[]},{"id":"db4e0c03240c7d9f","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"d64478bc613b61a3","name":"temperature","measurement":"temperature,building=RT,room=E105","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1210,"y":180,"wires":[]},{"id":"3af9815d65e66174","type":"change","z":"f6f2187d.f17ca8","name":"change mqtt en char","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload[0].temperature)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":180,"wires":[["db4e0c03240c7d9f"]]},{"id":"4acb756a377dffbc","type":"function","z":"f6f2187d.f17ca8","name":"Température","func":"msg.payload = msg.payload[0].temperature;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":320,"wires":[["b793811344d596bf"]]},{"id":"8a3614d413ceb1d6","type":"mqtt in","z":"f6f2187d.f17ca8","name":"E100","topic":"AM107/by-room/E100/data","qos":"0","datatype":"auto-detect","broker":"656586b38fb8e20d","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":920,"wires":[["271f1a3d4d1a4b30","7f6ea14406d1cfd8","490b9c2219634d01"]]},{"id":"271f1a3d4d1a4b30","type":"debug","z":"f6f2187d.f17ca8","name":"lum","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":960,"wires":[]},{"id":"7f6ea14406d1cfd8","type":"change","z":"f6f2187d.f17ca8","name":"change mqtt en char","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload[0].illumination)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":880,"wires":[["f408f2f8dd0bce3f"]]},{"id":"490b9c2219634d01","type":"function","z":"f6f2187d.f17ca8","name":"illumination","func":"msg.payload = msg.payload[0].illumination;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1020,"wires":[["6337a2f43b45ea80"]]},{"id":"f408f2f8dd0bce3f","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"d64478bc613b61a3","name":"luminosite","measurement":"illumination,building=RT,room=E100","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1200,"y":880,"wires":[]},{"id":"6337a2f43b45ea80","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"cb08729f710e79a9","order":0,"width":0,"height":0,"gtype":"gage","title":"Luminosité E100","label":"lumens","format":"{{value}}","min":0,"max":"250","colors":["#f9f06b","#f6d32d","#e5a50a"],"seg1":"80","seg2":"170","diff":false,"className":"","x":1170,"y":1020,"wires":[]},{"id":"0e8c4db44e382dbb","type":"mqtt in","z":"f6f2187d.f17ca8","name":"B101","topic":"AM107/by-room/B101/data","qos":"0","datatype":"auto-detect","broker":"656586b38fb8e20d","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":440,"wires":[["2cf1ee8fc6e8e68c","326a05eed2b72974","1ad852aa2f90d750"]]},{"id":"2cf1ee8fc6e8e68c","type":"debug","z":"f6f2187d.f17ca8","name":"lum","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":480,"wires":[]},{"id":"e7ba6d3f626d84f9","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"21fd32b85d637305","order":0,"width":0,"height":0,"gtype":"gage","title":"Luminosité B101","label":"lumens","format":"{{value}}","min":0,"max":"250","colors":["#f9f06b","#f6d32d","#e5a50a"],"seg1":"80","seg2":"170","diff":false,"className":"","x":550,"y":540,"wires":[]},{"id":"2773deeb6b4de392","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"d64478bc613b61a3","name":"luminosite","measurement":"illumination,building=INFO,room=B101","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":580,"y":400,"wires":[]},{"id":"326a05eed2b72974","type":"change","z":"f6f2187d.f17ca8","name":"change mqtt en char","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload[0].illumination)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":400,"wires":[["2773deeb6b4de392"]]},{"id":"1ad852aa2f90d750","type":"function","z":"f6f2187d.f17ca8","name":"illumination","func":"msg.payload = msg.payload[0].illumination;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":540,"wires":[["e7ba6d3f626d84f9"]]},{"id":"b43b4ff6db1ac1db","type":"mqtt in","z":"f6f2187d.f17ca8","name":"B106","topic":"AM107/by-room/B106/data","qos":"0","datatype":"auto-detect","broker":"656586b38fb8e20d","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":920,"wires":[["9ee44676cdea9fe1","5fa8e507bdf226b7","ddc7894138230d53"]]},{"id":"9ee44676cdea9fe1","type":"debug","z":"f6f2187d.f17ca8","name":"temp","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":960,"wires":[]},{"id":"bce9e9f47769e8eb","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"b457bc55eb842bbf","order":0,"width":0,"height":0,"gtype":"gage","title":"Température B106","label":"°C","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"25","diff":false,"className":"","x":550,"y":1020,"wires":[]},{"id":"4f86ab3748d7fe98","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"d64478bc613b61a3","name":"temperature","measurement":"temperature,building=INFO,room=B106","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":590,"y":880,"wires":[]},{"id":"5fa8e507bdf226b7","type":"change","z":"f6f2187d.f17ca8","name":"change mqtt en char","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload[0].temperature)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":880,"wires":[["4f86ab3748d7fe98"]]},{"id":"ddc7894138230d53","type":"function","z":"f6f2187d.f17ca8","name":"Température","func":"msg.payload = msg.payload[0].temperature;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1020,"wires":[["bce9e9f47769e8eb"]]},{"id":"656586b38fb8e20d","type":"mqtt-broker","name":"mosquittoRT","broker":"mqtt.iut-blagnac.fr","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0576bbaed2d67203","type":"ui_group","name":"Capteurs Température","tab":"998e71baf4c26ad6","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"d64478bc613b61a3","type":"influxdb","hostname":"192.168.103.132","port":8086,"protocol":"http","database":"capteurs","name":"serveur","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"b457bc55eb842bbf","type":"ui_group","name":"Capteurs Température","tab":"24f5398a38c23cf3","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"cb08729f710e79a9","type":"ui_group","name":"Capteurs Luminosité","tab":"998e71baf4c26ad6","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"21fd32b85d637305","type":"ui_group","name":"Capteurs Luminosité","tab":"24f5398a38c23cf3","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"998e71baf4c26ad6","type":"ui_tab","name":"Bâtiment RT","icon":"dashboard","disabled":false,"hidden":false},{"id":"24f5398a38c23cf3","type":"ui_tab","name":"Bâtiment INFO","icon":"dashboard","disabled":false,"hidden":false}]
